body{
  background: url('../img/asset01_esq.png') left 3% no-repeat,
      url('../img/asset02_dir.png') right 10% no-repeat,
      url('../img/bg.png') no-repeat fixed !important;
      background-size: auto, auto, cover !important;
}

/* painel 1 */

.painel1{
  height: 297px;
  width: 285px;
  margin: 150px auto 80px auto;
  background: url('../img/painel01/img01.png') no-repeat;
  position: relative;
}

.img-selo_presencial{
    max-width: 200px;
    margin-top: 40px;
}

.btn-painel1{
  color: transparent;
  height: 65px; 
  width: 43px;
  background-color: transparent;
  position: absolute;
  border: none;
}

.btn-dica1{
  background: url('../img/painel01/bt01.png') no-repeat;
  top: 14%;
  left: -12%;
}

.btn-dica2{
  background: url('../img/painel01/bt02.png');
  top: -20%;
  left: 9%;
}

.btn-dica3{
  background: url('../img/painel01/bt03.png');
  top: -20%;
  left: 76%;
}

.btn-dica4{
  background: url('../img/painel01/bt04.png');
  top: 14%;
  left: 99%;
}

.btn-painel1:hover{
  transform: scale(1.2);
  transition: 0.5s ease;
}

/* painel 2 */

.painel2{
  background: url('../img/painel02/img01_1.png') no-repeat center 80%;
  height: 500px;
  position: relative;
  padding: 100px 0px 100px 0px;
}

.btn-painel2{
  position: absolute;
  border: none;
  color: transparent;
}

.btn-imobiliario{
  background: url('../img/painel02/bt01_1.png') no-repeat;
  height: 173px;
  width: 162px;
  top: 12%;
  left: 21%;
}

.btn-documental{
  background: url('../img/painel02/bt02_1.png') no-repeat;
  height: 160px;
  width: 174px;
  top: -5%;
  left: 30%;
}

.btn-avaliador{
  background: url('../img/painel02/bt03_1.png') no-repeat;
  height: 161px;
  width: 174px;
  top: -5%;
  left: 50%;
}

.btn-avaliador-processos{
  background: url('../img/painel02/bt04_1.png') no-repeat;
  height: 173px;
  width: 162px;
  top: 12%;
  left: 60%;
}

.btn-painel2:hover{
  transform: scale(1.2);
  transition: 0.4s ease;
}