body {
    background: url('../img/asset01_esq.png') left 3% no-repeat ,
        url('../img/asset02_dir.png') right 7% no-repeat,
        url('../img/bg.png') no-repeat fixed;
    background-size: auto, auto, cover;
}

.infografico {
    background: url('../img/infogr.png') no-repeat;
    background-size: cover;
    position: relative;
    height: 469px;
    width: 960px;
    margin: 80px 0px;
}


.balao span {
    display: block;
    font-weight: bolder;
    text-align: center;
}

.balao {
    position: absolute;
}

.balao1 {
    top: 11%;
    left: 21%;
    font-size: smaller;
}

.balao2 {
    top: 12%;
    left: 58%;
    font-size: smaller;
}

.balao3 {
    top: 57%;
    left: 4%;
    font-size: smaller;
}

.balao4 {
    top: 56%;
    left: 73%;
    font-size: smaller;
}

.balao4 .linha-1 {
    margin-left: 21%;
}


.estrategias {
    padding: 4%;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.linha1 {
    display: flex;
    justify-content: space-around;
}

.linha2 {
    width: fit-content;
}

.btn-estrategias {
    position: relative;
    background-color: transparent;
    border: transparent;
}

.btn-estrategias.visitado::after {
    background: url('../../assets/images/check.svg') no-repeat;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 40px !important;
    right: 13px;
    content: '';
}

.btn-fatores-producao.visitado::before {
    background: url('../../assets/images/check.svg') no-repeat;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 40px;
    right: -10px;
    content: '';
}

.btn-lideranca {
    width: 299px;
    height: 144px;
    background: url('../img/bt01.png') no-repeat;
    border: none;
}

.btn-diferenciacao {
    background: url('../img/bt02.png') no-repeat;
    border: none;
    width: 335px;
    height: 144px;
}

.btn-foco {
    background: url('../img/bt03.png') no-repeat;
    border: none;
    width: 299px;
    height: 144px;
}

.btn-lideranca:hover,
.btn-diferenciacao:hover,
.btn-foco:hover {
    transition: 0.5s ease;
    opacity: 0.8;
}

.selo {
    display: flex;
    justify-content: center;
}

.img-selo_presencial {
    width: 200px;
    height: 200px;
    margin: 40px 0px 40px 0px;
}

.infografico {
    display: block;
}

.info-mob {
    display: none;
}

.accordion-collapse {
    background-color: #fff;
    margin-top: -4%;
    padding-top: 4%;
    margin-left: 2%;
    margin-right: 2%;
}

.accordion-item {
    background-color: unset;
}

.accordion-header {
    margin-right: unset;
}

.accordion-item h2 {
    margin-left: unset;
}

.desk-abas {
    display: block;
}

.gaitinha-mob {
    display: none;
}

.bg-escuro .balao {
    color: #fff;
}

.bg-escuro .modal-body p {
    color: #000;
}

.bg-escuro .modal-body * {
    color: unset;
}

.bg-escuro .modal-body li {
    color: #000;
}

.bg-escuro .modal-body {
    color: unset;
}

.bg-escuro .tab-pane {
    color: #000;
}

.bg-escuro .accordion-body p {
    color: #000;
}


@media only screen and (max-width:1440px) {

    body {
        background: url(../img/asset01_esq.png) left 3% no-repeat, url(../img/asset02_dir.png) right 7% no-repeat, url(../img/bg.png) no-repeat fixed;
        background-size: 18%, 17%, cover;
    }
}


@media only screen and (max-width:1400px) {

    body {
        background: url(../img/asset01_esq.png) left 3% no-repeat, url(../img/asset02_dir.png) right 7% no-repeat, url(../img/bg.png) no-repeat fixed;
        background-size: 18%, 16%, cover;
    }
}

@media only screen and (max-width:1366px) {

    body {
        background: url(../img/asset01_esq.png) left 3% no-repeat, url(../img/asset02_dir.png) right 7% no-repeat, url(../img/bg.png) no-repeat fixed;
        background-size: 17%, 14%, cover;
    }
}


@media only screen and (max-width:1024px) {
    body {
        background: none, none,
            url('../img/bg.png') no-repeat fixed;
        background-size: auto, auto, cover;
    }

    .infografico {
        margin-left: -5%;
    }

}

@media only screen and (max-width:950px) {

    .infografico {
        background: none;
        position: relative;
        height: auto;
        width: 100%;
        margin: 0px 0px;
    }

}


@media only screen and (max-width:870px) {
    .linha1 {
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }

    .btn-before-estrategias::before {
        right: 70%;
    }

    .infografico {
        display: none;
    }

    .info-mob {
        display: block;
    }
}

@media only screen and (max-width:500px) {


    .img-selo_presencial {
        transform: scale(0.8);
        margin-top: -5%;
    }

    .desk-abas {
        display: none;
    }

    .gaitinha-mob {
        display: block;
    }

    .list-group-item-action {
        width: 112%;
        color: #495057;
        text-align: inherit;
    }

}

@media only screen and (max-width: 375px) {
    .list-group-item-action {
        width: 122%;
        color: #495057;
        text-align: inherit;
    }

    .tab-content {
        margin-left: 7px;
    }

}