body{
    background: url('../img/elemento_esquerda.png') left 80% no-repeat fixed,
    url('../img/elemento_direita.png') 98% 25% no-repeat fixed,
    url('../img/bg.png') no-repeat fixed  !important;
    background-size: 15%, 12%, cover !important;
}

.mt-n5 {
    margin-top: -80px;
  }

  .destaque01{
    background: url('../img/fundo_destaque.png') no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
  }

  .paragrafodestaque01{
    max-width: 70%;
    padding: 10px 0px 0px 10px;
  }

  .paragrafodestaque01 p{
    width: 70%;
  }

  .img-selo_presencial{
    max-width: 200px;
    margin-top: 40px;
  }

  .paragrafo-linha-tempo{
    display: flex;
    align-items: center;
    justify-items: center;
  }
  
  @media only screen and (max-width:1400px) {

    body{
      background: none,
      none,
      url('../img/bg.png') no-repeat fixed  !important;
      background-size: unset, unset, cover !important;
  }
}

@media only screen and (max-width:1000px) {

  .destaque01{
    flex-direction: column;
    height: auto;
    background-size: cover;
    align-items: center;
    width: 500px;
  }

  .paragrafodestaque01{
    max-width: 80%;
    margin: auto;
  }

  .paragrafodestaque01 p{
    width: 100%;
  }

  
}

@media only screen and (max-width:600px) {

  .destaque01{
    
    width: 100%;
  }

  .paragrafodestaque01{
    max-width: 80%;
    margin: auto;
  }

  .paragrafodestaque01 p{
    width: 100%;
  }

  
}
