.bloco1 {
  background:
    url('../img/bloco1.png') 0% 50% no-repeat fixed,
    url('../img/elemento_bg_bloco.png') no-repeat 100% 5%,
    url('../img/bg_blocos1_3.png') fixed;
  padding: 50px 0px;
}

.flip-card {
  width: 360px;
  height: 357px;
}

.flip-card-inner {
  background-color: transparent;
}

.card1-front {
  background: url('../img/card_frente_autonomo.png');
  background-size: auto;
  background-repeat: no-repeat;
}

.card2-front {
  background: url('../img/card_frente_liberal.png');
  background-size: auto;
  background-repeat: no-repeat;
}

.flip-card-back {
  background: url('../img/card_atrás.png');
  background-size: auto;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20%;
}

.destaque2 {
  margin-top: -50px;
}


.bloco2 {
  padding: 50px 50px;
  background: url('../img/bloco2.png') 100% 50% no-repeat fixed,
    url('../img/elemento_bg_bloco2.png') no-repeat 0% 5%,
    url('../img/bg_bloco2.png') fixed;
  ;
}

.magazine-mobile {
  display: none;
}

.bloco3 {
  background:
    url('../img/bloco3.png') 0% 50% no-repeat fixed,
    url('../img/elemento_bg_bloco.png') no-repeat 100% 5%,
    url('../img/bg_blocos1_3.png') fixed;
  padding: 50px 0px;
}

.destaque1 {
  min-height: 330px;
}

.destaques-centro {
  margin-top: 9%;
}

/* Estilos do contêiner do flipbook */
#flipbook {
  margin: auto;
  position: relative;
  width: 25%;
  /* Ajuste conforme necessário */
  height: 35%;
  perspective: 2000px;
  /* Para efeito 3D de virada */
}

/* Estilos das páginas do flipbook */
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: visible;
  transform-origin: left;
  transition: transform 1s ease;
  transform-style: preserve-3d;
}

.page img {
  width: 100%;
  height: auto;
}





@media only screen and (max-width:1700px) {

  .bloco1 {
    background:
      none,
      none,
      url('../img/bg_blocos1_3.png') fixed;
    padding: 50px 0px;
  }

  .bloco2 {
    padding: 50px 50px;
    background: none,
      none,
      url('../img/bg_bloco2.png') fixed;
    ;
  }

  .bloco3 {
    background:
      none,
      none,
      url('../img/bg_blocos1_3.png') fixed;
    padding: 50px 0px;
  }




}

@media only screen and (max-width:1400px) {}

@media only screen and (max-width:1024px) {

  .bloco1,
  .bloco2,
  .bloco3 {
    background-size: cover;
  }
}

@media only screen and (max-width:1000px) {

  .magazine {
    display: none;
  }

  .magazine-mobile {
    display: block;
  }

  .bloco2 {
    padding: 50px 0px;
    width: 100%;
  }


}

@media only screen and (max-width:820px) {
  .destaque1 {
    min-height: 352px;
  }

  .destaques-centro {
    margin-top: 10%;
  }
}

@media only screen and (max-width:470px) {

  .flip-card {
    width: 300px;
    height: 300px;
  }

  .card1-front {
    background-size: 100%;
  }

  .card2-front {
    background-size: 100%;
  }

  .flip-card-back {
    background-size: 100%;
  }

  .flip-card-back p {
    margin-top: 30px;
  }

  .destaque1 {
    min-height: 270px;
  }

  .destaques-centro {
    margin-top: 20%;
  }


}