@font-face {
    font-family: 'Mynerve-Regular';
    src: url("../font/Mynerve-Regular.ttf");
}

body {
    background:
        url('../img/elementos_flutuantes.png') right 3% no-repeat fixed,
        url('../img/bg.png') no-repeat fixed !important;
    background-size: auto, cover !important;
}


.splide .card .card-body {
    position: absolute;
    bottom: 70px;
    background: #fff;
    width: calc(100% - 20px);
    border: none;
    left: 10px;
    border-radius: 0 0 40px 40px;
}

.postits-painel {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.postits-painel2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    padding: 0px 100px 0px 100px;
    gap: 20px;
}

.postit {
    font-family: Mynerve-Regular;
    height: 238px;
    width: 227px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 20px;
    font-weight: bolder;
    background: url('../img/postit.png') no-repeat;
}

.postits p {
    font-family: Mynerve-Regular;
}

.destaque-infografico {
    height: 290px;
    width: 308px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 10px 0px 50px;
}

.destaque-infografico span {
    text-align: center;
    font-size: 19.5px;
}

.organizacional {
    background: url('../img/destaque_nivel.png') no-repeat;
}

.conteudo {
    background: url('../img/destaque_conteudo.png') no-repeat;
}

.tempo {
    background: url('../img/destaque_tempo.png') no-repeat;
}

.destaque-infografico.tempo {
    justify-content: flex-start;
    padding-top: 80px;
    gap: 40px;
}

.resultados {
    background: url('../img/destaque_resultados.png') no-repeat;

}

.processo {
    background: url('../img/destaque_responsabilidade.png') no-repeat;
    padding-left: 85px;
}

.linha1 {
    display: flex;
    justify-content: space-between;
}

.linha2 {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: 50px;
}

/* painel ferramentas */

.painel-ferramentas {
    height: 468px;
    width: 643px;
    background: url('../img/painel.png');
    position: relative;
    margin: auto;
}


.btn-painel-ferramentas {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
}

.btn-pdca {
    top: 69%;
    left: 73%;
}

.btn-pdca button {
    margin-bottom: -35px;
}

.btn-seis {
    top: 30%;
    left: 70%;
}

.btn-seis button {
    margin-bottom: -40px;
}

.btn-fluxograma {
    top: 36%;
    left: 7%;
}

.btn-fluxograma button {
    margin-bottom: -25px;
}

.btn-graficos {
    top: 79%;
    left: 53%;
}

.btn-graficos button {
    margin-bottom: -35px;
}

.btn-causa {
    top: 28%;
    left: 33%;
}

.btn-causa button {
    margin-bottom: -25px;
    z-index: 2;
}

.btn-gut {
    top: 72%;
    left: 28%;
}

.btn-gut button {
    margin-bottom: -15px;
}

.btn-5w2h {
    top: 75%;
    left: 8%;
}

.btn-5w2h button {
    margin-bottom: -20px;
}


.botao::before {
    border-radius: 20px;
}


.atividade {
    top: 7%;
    left: 5%;
}

.decisao {
    top: 57%;
    left: 6%;
}

.dados {
    top: 86%;
    left: 8%;
}

.processo-pre-definido {
    top: 54%;
    left: 72%;
    font-size: smaller;
}

.armazenamento {
    top: 5%;
    left: 38.7%;
    font-size: smaller;
}

.documento {
    top: 31%;
    left: 40%;
}

.documentos {
    top: 55%;
    left: 35%;
}

.atraso {
    top: 31%;
    left: 6%;
}

.entradaManual {
    top: 2%;
    left: 75%;
    font-size: smaller;
}

.operacaoManual {
    top: 29%;
    left: 71%;
}

.conector {
    top: 82%;
    left: 72%;
}

.inicioFim {
    top: 82%;
    left: 43%;
}

.fluxograma{
    height: 462px;
    width: 490px;
    background: url('../img/fluxograma.png');
    position: relative;
    margin: auto;
    overflow: visible;
}

.fluxograma button{
   position: absolute;
   color: #fff;
   background-color: transparent;
   border: none;
}














@media screen and (max-width:1600px) {

    body {
        background:
            none,
            url('../img/bg.png') no-repeat fixed !important;
        background-size: unset, cover !important;
    }



}






@media screen and (max-width:950px) {

    .linha1,
    .linha2 {
        flex-direction: column;
        align-items: center;
    }


}





@media screen and (max-width:850px) {}



@media screen and (max-width:750px) {

    .postits-painel2 {
        padding: unset;
    }

    .painel-ferramentas {
        height: auto;
        width: 100%;
        background: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 56px;
    }

    .btn-painel-ferramentas {
        position: relative;
    }

    .btn-pdca,
    .btn-fluxograma,
    .btn-graficos,
    .btn-causa,
    .btn-gut,
    .btn-5w2h,
    .btn-seis {
        top: unset;
        left: unset;
    }

    .btn-painel-ferramentas {
        display: unset;
        flex-direction: unset;
        justify-content: unset;
        position: unset;
    }

}