@font-face {
    font-family:'Mynerve-Regular';
    src:url("../font/Mynerve-Regular.ttf");
}

body{
    background: 
        url('../img/elementos_flutuantes.png') right 3% no-repeat,
        url('../img/bg.png') no-repeat fixed !important;
        background-size: auto, cover !important;
  }
  

.splide .card .card-body {
    position: absolute;
    bottom: 70px;
    background: #fff;
    width: calc(100% - 20px);
    border: none;
    left: 10px;
    border-radius: 0 0 40px 40px;
}

.postits{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.postit{
    font-family: Mynerve-Regular;
    height: 238px;
    width: 227px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 20px;
    font-weight: bolder;
    background: url('../img/postit.png') no-repeat;
}

.postits p{
    font-family: Mynerve-Regular;
}

.destaque-infografico{
    height: 290px;
    width: 308px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 10px 0px 50px;
}

.destaque-infografico span{
    text-align: center;
}


.organizacional{
    background: url('../img/destaque_nivel.png');
}

.conteudo{
    background: url('../img/destaque_conteudo.png');
}

.tempo{
    background: url('../img/destaque_tempo.png');
}

.destaque-infografico.tempo{
    justify-content: flex-start;
    padding-top: 80px;
    gap: 40px;
}

.resultados{
    background: url('../img/destaque_resultados.png');

}

.processo{
    background: url('../img/destaque_responsabilidade.png');
    padding-left: 85px;
}

.linha1{
    display: flex;
    justify-content: space-between;
}

.linha2{
    display: flex;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: 50px;
}



@media only screen and (max-width:950px) {

   .linha1, .linha2{
    flex-direction: column;
    align-items: center;
   }
    
     
  }


@media only screen and (max-width:1600px) {

    body{
        background: 
           none,
            url('../img/bg.png') no-repeat fixed !important;
            background-size: unset, cover !important;
      }

    
     
  }